<div id="search" class= "center jumbotron">
  <%= link_to image_tag("2015-nba-draft.jpg", alt: "2015 NBA Draft"), root_path %>
  <form>
    <input id= "field" name= "field" type= "text" placeholder= "Search" />
  </form>
</div> 