<div id="search" class= "center jumbotron" style="background: transparent !important">
  <%= image_tag("2015-nba-draft.jpg", :alt => "2015 NBA Draft") %>
  <form>
    <input id= "field" name= "field" type= "text" placeholder= "Search" />
  </form>
</div> 