<div id="search" class= "center jumbotron" style="background: transparent !important">
  <%= image_tag("2015-nba-draft.jpg", :alt => "2015 NBA Draft") %>
  <form action="" method="post">
    <input id="field" name="draftee_name" type="text" placeholder="Search" />
  </form>
</div> 