
<div id="draftee_page">
  <h1>
    <%= @draftee.name %>
    <%= image_link_to_media("twitter", @draftee.twitter) %>
    <%= image_link_to_media("instagram", @draftee.instagram) %>
  </h1>

  <div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix masonry">
    <% @inserts.each do |insert| %>
    <div class="box">
      <%= raw(insert.content) %>
    </div>
    <% end %>
  </div>
</div>