@import "bootstrap-sprockets";
@import "bootstrap";

/** 
Universal 
**/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

/** 
Header 
**/

header {

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
      color: #fff;
      text-decoration: none;    
    }
  }

  #home_button {
    font-size: 2em;
    color: white;
    margin-top: 10px;
  }
}

/**
Footer
**/

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 50px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/**
Search Page
**/

#search {
  
  // Draft 2015 image
  img {
    height: 268px;
    width: 550;
    margin-bottom: 20px;
  }

  // Style the search input field.
  // #draftee_name {
  //   width: 400px; 
  //   height: 27px; 
  //   line-height: 27px;
  //   text-indent: 10px; 
  //   font-family: arial, sans-serif; 
  //   font-size: 1em; 
  //   color: #333; 
  //   background: #fff; 
  //   border: solid 2px $gray-light; 
  // }

  // Hide submit button
  // form input#search {
  //   visibility: hidden;
  // }
}

// Twitter typeahead css

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 420px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-family: arial, sans-serif;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/**
Mixins, variables, etc.
**/

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/**
Miscellaneous
**/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/**
Draftee Individual Page
**/

#draftee_page {
  font-family: arial, sans-serif;

  h1 {
    font-weight: 900 !important;
    text-align: center !important;
  }

  // Main container
  #masonry-container {
    margin-top: -35px;
    // width: 960px;
    // margin: 0 auto;
    // clear: both;
    // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    // border-radius: 5px;
    // padding-top: 10px;

    .box {
      background-color: white !important;
      width: 300px;
      float: left;
    }
    .twitter,
    .instagram {
      border-width: 1px;
      border-style: solid;
      border-color: #d3d3d3;
    }
    .news { 
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-family: arial, sans-serif;
      border-width: 1px;
      border-style: solid;
      border-color: #d3d3d3;
      height: 100px;
      a {
        font-size: 15px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/**
All Draft Candidates Page
**/

th {
  text-align: center;
}

table {
  // width: 50%;
  // padding: 5px;
  // border-color: gray;
}
