@import "bootstrap-sprockets";
@import "bootstrap";

/** 
Universal 
**/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

/** 
Header 
**/

header {

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
      color: #fff;
      text-decoration: none;    
    }
  }

  #home_button {
    font-size: 2em;
    color: white;
    margin-top: 10px;
  }
}

/**
Footer
**/

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 50px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/**
Search Page
**/

#search {
  
  // Draft 2015 image
  img {
    height: 268px;
    width: 550;
    margin-bottom: 20px;
  }

  // Style the search input field.
  #field {
    width: 400px; 
    height: 27px; 
    line-height: 27px;
    text-indent: 10px; 
    font-family: arial, sans-serif; 
    font-size: 1em; 
    color: #333; 
    background: #fff; 
    border: solid 2px $gray-light; 
  }
}

/**
Mosaic page
**/

#mosaic {

  // Style header
  #header {

    // Draftee name
    #draftee_name {
      float: left;
      text-align: left;
    }
    
    // Social media links
    #social_media_icons {
      float: right;
      text-align: right;
    }
  }

  // Main container
  #masonry-container {
    width: 960px;
    margin: 0 auto;
    // padding: 5px;
    clear: both;
    // border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    // Different social media different size boxes
    .news {
      width: 280px;
    }

    .tweet {
      width: 180px;
    }

    .insta {
      width: 380px;
    }
  }
}
