<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

  	<%= link_to root_path do %>
  		<span id="home_button" class="glyphicon glyphicon-home"></span>
		<% end %>

    <!-- <%= link_to "Hey 76", root_path, id: "logo" %> -->
 
  </div>
</header>